* {
    box-sizing: border-box;
  }
  
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
  }
  
header {
    padding: 40px;
    text-align: center;
    background: rgb(65, 48, 101);
    color: #fff;
    font-size: 20px;
  }
  
nav {
    display: flex;
    overflow: hidden;
    background-color: #e6d1fd;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
nav a {
    color: #13293d;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    float: left;
    display: block;
  }

nav a:hover {
    background-color: #333;
    color: white;
  }
  
main {
    display: flex;
    flex-wrap: wrap;
  }
  
section {
    flex: 3;
    background-color: rgb(237, 234, 234);
    padding: 20px;
  }
  
.aboutmecontext {
    font-size: 28px;
}

.contactcontext {
    font-size: 28px;
}

.imageone {
    width: 100%;
    height: 83%;
    border: 1px solid black;
  }
  
.otterimage {
    width: 55%;
    height: auto;
    border: 5px solid black;
  }

.Psychimage {
    width: 40%;
    height: auto;
    border: 3px solid black;
  }

footer {
    padding: 20px;
    text-align: center;
    background: rgb(65, 48, 101);
    color: #fff;
  }
  
@media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
    aside {
      order: 2;
    }
    header {
    }
    nav,
    footer {
    }
  }
  