* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

h2,h3,h4 {
    font-size: 25px;
    color: black;
    border-style: solid;

}

.header {
    color: black;
    text-align: center;
    padding-top: 25px;
}

.headersubtext {
    color: white;
    text-align: center;
    margin-top: -20px;
}

.background-top {
    background-image: url(./IMG_9611\ \(1\).jpeg);
    background-color: white;
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.topnav a:hover {
    background-color: black;
    color: azure;
}

.about-me, .projects, .contact {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.mainaboutme {
    color: black;
    margin-top: 500px;
}

.aboutmecontext {
    font-size: 13px;
    text-align: center;
}