* {
    box-sizing: border-box;
}

.header {
    color: white;
    text-align: center;
}

.background-top {
    background-image: url(./IMG_9611.jpeg);
    background-color: white;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.topnav a:hover {
    background-color: black;
    color: azure;
}

.about-me, .projects, .contact {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    float: left;
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }